In [6]:
# Replicate local resources
!wget --no-cache -O init.py -q https://raw.githubusercontent.com/rramosp/ai4eng.v1/main/content/init.py
import init; init.init(force_download=False); init.get_weblink()

In [7]:
# Download the .zip file with the content of the Kaggle contest
import os
os.environ['KAGGLE_CONFIG_DIR'] = '.'
!chmod 600 ./kaggle.json
!kaggle competitions download -c udea-ai4eng-20242

udea-ai4eng-20242.zip: Skipping, found more recently modified local copy (use --force to force download)

In [8]:
# Unzip the file with the content of the Kaggle contest
!unzip udea*.zip > /dev/null

replace submission_example.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [9]:
# List the unzipped files
!wc *.csv

   296787    296787   4716673 submission_example.csv
   296787   4565553  50135751 test.csv
   692501  10666231 118025055 train.csv
  1286075  15528571 172877479 total

In [10]:
# Import the needed libraries in this Colab
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
# Read a load in dataframes the data of this project
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")
data_submission_example = pd.read_csv("submission_example.csv")

In [12]:
# Work on dataframe copies
data_train_copy = data_train.copy()
data_test_copy = data_test.copy()
data_submission_example_copy = data_submission_example.copy()

In [13]:
# Data view of first rows
data_train_copy.head(10)

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo
5,659872,20203,MEDICINA VETERINARIA,ANTIOQUIA,Más de 7 millones,Menos de 10 horas,Estrato 5,Si,Educación profesional completa,Secundaria (Bachillerato) completa,No,medio-alto
6,47159,20183,INGENIERIA MECANICA,HUILA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 2,Si,Educación profesional incompleta,Técnica o tecnológica completa,Si,alto
7,11829,20183,ADMINISTRACIÓN EN SALUD OCUPACIONAL,BOGOTÁ,Entre 1 millón y menos de 2.5 millones,Entre 11 y 20 horas,Estrato 2,Si,Primaria incompleta,Secundaria (Bachillerato) incompleta,Si,medio-bajo
8,257869,20212,INGENIERIA INDUSTRIAL,ATLANTICO,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 1,Si,Secundaria (Bachillerato) completa,Educación profesional incompleta,Si,medio-bajo
9,465511,20183,ADMINISTRACION DE EMPRESAS,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 5,Si,Postgrado,Postgrado,Si,alto

In [14]:
# Set the ID column as the index column
data_train_copy = data_train.set_index("ID")
data_train_copy.head(10)

,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
ID,,,,,,,,,,,
904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto
645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo
308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo
470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto
989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo
659872,20203,MEDICINA VETERINARIA,ANTIOQUIA,Más de 7 millones,Menos de 10 horas,Estrato 5,Si,Educación profesional completa,Secundaria (Bachillerato) completa,No,medio-alto
47159,20183,INGENIERIA MECANICA,HUILA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 2,Si,Educación profesional incompleta,Técnica o tecnológica completa,Si,alto
11829,20183,ADMINISTRACIÓN EN SALUD OCUPACIONAL,BOGOTÁ,Entre 1 millón y menos de 2.5 millones,Entre 11 y 20 horas,Estrato 2,Si,Primaria incompleta,Secundaria (Bachillerato) incompleta,Si,medio-bajo
257869,20212,INGENIERIA INDUSTRIAL,ATLANTICO,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 1,Si,Secundaria (Bachillerato) completa,Educación profesional incompleta,Si,medio-bajo
465511,20183,ADMINISTRACION DE EMPRESAS,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 5,Si,Postgrado,Postgrado,Si,alto

# In the next cells I check the unique values of columns and check if they have NaN values.

In [15]:
# List of diferent values in the column
# Uniques, shape, does it have NaN values?
data_train_copy['PERIODO'].unique(), data_train_copy['PERIODO'].unique().shape, data_train_copy['PERIODO'].isnull().any()

(array([20212, 20203, 20195, 20183, 20194, 20213, 20184, 20202, 20196]),
 (9,),
 False)

In [16]:
# List of diferent values in the column
# Uniques, shape, does it have NaN values?
# In the future standardize the name of programs
data_train_copy['ESTU_PRGM_ACADEMICO'].unique(), data_train_copy['ESTU_PRGM_ACADEMICO'].unique().shape, data_train_copy['ESTU_PRGM_ACADEMICO'].isnull().any()

(array(['ENFERMERIA', 'DERECHO', 'MERCADEO Y PUBLICIDAD',
        'ADMINISTRACION DE EMPRESAS', 'PSICOLOGIA', 'MEDICINA VETERINARIA',
        'INGENIERIA MECANICA', 'ADMINISTRACIÓN EN SALUD OCUPACIONAL',
        'INGENIERIA INDUSTRIAL', 'ADMINISTRACIÓN FINANCIERA',
        'HOTELERIA Y TURISMO', 'LICENCIATURA EN CIENCIAS SOCIALES',
        'LICENCIATURA EN PEDAGOGIA INFANTIL', 'COMUNICACION SOCIAL',
        'CIENCIA POLITICA',
        'PROFESIONAL EN GESTIÓN DE LA SEGURIDAD Y LA SALUD LABORAL',
        'MAESTRO EN MÚSICA', 'INGENIERIA MECATRONICA', 'TRABAJO SOCIAL',
        'LICENCIATURA EN BIOLOGIA Y EDUCACION AMBIENTAL',
        'INGENIERIA CIVIL', 'CONTADURIA PÚBLICA',
        'ADMINISTRACION EN SALUD', 'ADMINISTRACIÓN DE EMPRESAS',
        'ESTADISTICA', 'LICENCIATURA EN BIOLOGIA',
        'INGENIERIA AGROINDUSTRIAL', 'ZOOTECNIA',
        'COMUNICACION AUDIOVISUAL',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN HUMANIDADES-INGLES',
        'COMUNICACION SOCIAL  - PERIODISMO',
        'SEGURIDAD Y SALUD EN EL TRABAJO', 'MEDICINA',
        'ADMINISTRACION DE LA SEGURIDAD SOCIAL', 'CONTADURIA PUBLICA',
        'ODONTOLOGIA', 'DISEÑO INDUSTRIAL', 'ECONOMIA',
        'INGENIERIA DE PROCESOS INDUSTRIALES', 'CONTADURÍA PÚBLICA',
        'INGENIERIA DE SISTEMAS', 'ARQUITECTURA',
        'LICENCIATURA EN FILOSOFÍA', 'ADMINISTRACION FINANCIERA',
        'ADMINISTRACION AMBIENTAL', 'INGENIERIA ELECTRONICA',
        'INGENIERÍA INDUSTRIAL', 'PSICOLOGÍA', 'INGENIERIA BIOMEDICA',
        'ADMINISTRACION Y DIRECCION DE EMPRESAS', 'INGENIERÍA ELECTRÓNICA',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN CIENCIAS NATURALES Y EDUCACION AMBIENTAL',
        'LICENCIATURA EN EDUCACIÓN FÍSICA, RECREACIÓN Y DEPORTE',
        'LICENCIATURA EN INGLÉS',
        'LICENCIATURA EN EDUCACION BÁSICA CON ÉNFASIS EN CIENCIAS NATURALES Y EDUCACIÓN AMBIENTAL',
        'INGENIERIA AMBIENTAL', 'NEGOCIOS INTERNACIONALES',
        'INGENIERIA  CIVIL', 'LICENCIATURA EN LENGUAS EXTRANJERAS',
        'MEDICINA VETERINARIA Y ZOOTECNIA', 'DISEÑO GRAFICO',
        'QUIMICA FARMACEUTICA',
        'LICENCIATURA EN BILINGÜISMO CON ÉNFASIS EN INGLÉS',
        'ADMINISTRACIÓN EN SEGURIDAD Y SALUD EN EL TRABAJO',
        'FINANZAS Y COMERCIO INTERNACIONAL',
        'LICENCIATURA EN EDUCACION PREESCOLAR',
        'LICENCIATURA EN PSICOLOGIA Y PEDAGOGIA',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN HUMANIDADES E IDIOMAS',
        'INGENIERIA DE CONTROL', 'RELACIONES INTERNACIONALES',
        'INGENIERIA DE TELECOMUNICACIONES', 'INSTRUMENTACION QUIRURGICA',
        'PROFESIONAL EN FINANZAS Y NEGOCIOS INTERNACIONALES',
        'DISEÑO VISUAL',
        'LICENCIATURA EN LENGUA CASTELLANA,INGLES Y FRANCES',
        'FISIOTERAPIA', 'FARMACIA', 'LICENCIATURA EN IDIOMAS EXTRANJEROS',
        'COMUNICACION Y LENGUAJES AUDIOVISUALES',
        'INGENIERIA DE DISEÑO DE PRODUCTO', 'ARTE DANZARIO',
        'COMUNICACION SOCIAL-PERIODISMO',
        'FINANZAS Y NEGOCIOS INTERNACIONALES', 'INGENIERIA QUIMICA',
        'ADMINISTRACION DEL MEDIO AMBIENTE', 'OPTOMETRIA',
        'COMUNICACION SOCIAL- PERIODISMO',
        'LICENCIATURA EN PEDAGOGÍA INFANTIL', 'INGENIERIA FINANCIERA',
        'JURISPRUDENCIA', 'INGENIERIA DE ALIMENTOS',
        'LICENCIATURA EN MATEMATICAS', 'SOCIOLOGIA',
        'INGENIERIA DE SISTEMAS Y COMPUTACION', 'PROFESIONAL EN DEPORTE',
        'ESTUDIOS LITERARIOS', 'INGENIERIA AGRONOMICA',
        'LICENCIATURA EN LENGUAS MODERNAS CON ENFASIS EN INGLES Y FRANCES',
        'ADMINISTRACION DE EMPRESAS TURISTICAS',
        'PROFESIONAL EN CINE Y TELEVISION', 'NUTRICION Y DIETETICA',
        'COMUNICACIÓN SOCIAL', 'TERAPIA RESPIRATORIA', 'FILOSOFIA',
        'LICENCIATURA EN INGLES', 'INGENIERÍA DE TELECOMUNICACIONES',
        'INGENIERIA DE PRODUCCION', 'INGENIERIA EN TELECOMUNICACIONES',
        'ADMINISTRACION DE NEGOCIOS INTERNACIONALES',
        'INGENIERÍA MULTIMEDIA', 'PROFESIONAL EN DISEÑO GRAFICO',
        'ENFERMERÍA', 'LICENCIATURA EN FILOSOFIA Y EDUCACION RELIGIOSA',
        'LICENCIATURA EN BIOLOGIA Y QUIMICA', 'INGENIERIA ELECTRICA',
        'INGENIERIA ELECTRONICA Y TELECOMUNICACIONES',
        'LICENCIATURA EN TEOLOGIA', 'INGENIERIA AGROPECUARIA',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN EDUCACION FISICA, RECREACION Y DEPORTES',
        'TERAPIA OCUPACIONAL', 'NEGOCIOS INTERNACIONALES SEGUNDO CICLO',
        'ADMINISTRACION AMBIENTAL Y DE LOS RECURSOS NATURALES',
        'INGENIERIA ADMINISTRATIVA', 'ADMINISTRACION DE LA CALIDAD',
        'ADMINISTRACION MARITIMA Y FLUVIAL', 'INGENIERIA AGROFORESTAL',
        'NEGOCIOS Y RELACIONES INTERNACIONALES', 'FILOLOGIA E IDIOMAS',
        'GERENCIA EN SISTEMAS DE INFORMACION EN SALUD', 'ECONOMÍA',
        'LICENCIATURA EN ETNOEDUCACION',
        'LICENCIATURA EN LENGUA CASTELLANA E INGLES',
        'TRADUCCION INGLES-FRANCES-ESPAÑOL',
        'GESTIÓN EN ECOLOGÍA Y TURISMO', 'INGENIERIA DE MATERIALES',
        'LICENCIATURA EN EDUCACION ARTISTICA', 'INTRUMENTACION QUIRURGICA',
        'PLANEACION Y DESARROLLO SOCIAL', 'LICENCIATURA EN ARTES',
        'INGENIERIA EN MULTIMEDIA', 'PROFESIONAL EN CRIMINALISTICA',
        'LICENCIATURA EN EDUCACION PARA LA PRIMERA INFANCIA',
        'ENTRENAMIENTO DEPORTIVO',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN MATEMATICAS',
        'LICENCIATURA EN CIENCIAS NATURALES Y EDUCACION AMBIENTAL',
        'INGENIERÍA AMBIENTAL', 'INGENIERIA DE PETROLEOS',
        'CIENCIAS DEL DEPORTE Y DE LA EDUCACION FISICA', 'BIOLOGIA',
        'INGENIERIA MULTIMEDIA',
        'LICENCIATURA EN EDUCACION FISICA, DEPORTES Y RECREACION',
        'INGENIERIA ELECTROMECANICA',
        'LICENCIATURA EN CIENCIAS DEL DEPORTE',
        'COMUNICACION SOCIAL Y PERIODISMO',
        'MERCADEO Y NEGOCIOS INTERNACIONALES',
        'ADMINISTRACION PUBLICA TERRITORIAL',
        'ADMINISTRACIÓN INTEGRAL DE RIESGOS DE SEGURIDAD Y SALUD EN EL TRABAJO',
        'ADMINISTRACION & SERVICIO',
        'LICENCIATURA EN LENGUA CASTELLANA Y COMUNICACION',
        'CIENCIAS DE LA INFORMACION Y LA DOCUMENTACION',
        'LICENCIATURA EN EDUCACIÓN BÁSICA CON ÉNFASIS EN INGLÉS',
        'COMUNICACION SOCIAL - PERIODISMO', 'CIENCIAS MILITARES',
        'LICENCIATURA EN EDUCACION FISICA Y DEPORTES',
        'INGENIERÍA DE SOFTWARE',
        'CIENCIAS NAVALES PARA OFICIALES DE INFANTERIA DE MARINA',
        'INGENIERIA DE SONIDO',
        'LICENCIATURA EN ETNOEDUCACION CON ENFASIS EN CIENCIAS SOCIALES',
        'LICENCIATURA EN EDUCACIÓN PARA LA PRIMERA INFANCIA',
        'INGENIERIA EN HIGIENE Y SEGURIDAD OCUPACIONAL',
        'ADMINISTRACION DE LA SEGURIDAD Y SALUD OCUPACIONAL',
        'ECONOMIA Y FINANZAS INTERNACIONALES', 'BACTERIOLOGIA',
        'CIENCIA POLÍTICA Y GOBIERNO',
        'COMUNICACION AUDIOVISUAL Y MULTIMEDIOS', 'MERCADEO',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN LENGUA CASTELLANA',
        'ECONOMIA Y NEGOCIOS INTERNACIONALES',
        'PROFESIONAL EN LENGUAS MODERNAS',
        'INGENIERIA SANITARIA Y AMBIENTAL',
        'LICENCIATURA EN EDUCACION INFANTIL', 'PERIODISMO',
        'PROFESIONAL EN CONTADURIA PUBLICA',
        'LICENCIATURA EN EDUCACIÓN BÁSICA PRIMARIA',
        'LINGUISTICA Y LITERATURA', 'LICENCIATURA EN EDUCACIÓN INFANTIL',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN MATEMATICA HUMANIDADES Y LENGUA CASTELLANA',
        'PROFESIONAL EN ADMINISTRACIÓN DE EMPRESAS', 'ANTROPOLOGIA',
        'INGENIERÍA DE SISTEMAS', 'AGRONOMIA',
        'ADMINISTRACION DE NEGOCIOS',
        'BACTERIOLOGIA Y LABORATORIO CLINICO', 'FONOAUDIOLOGIA',
        'LICENCIATURA EN  CIENCIAS NATURALES Y EDUCACION AMBIENTAL',
        'ADMINISTRACION Y GESTION AMBIENTAL',
        'LICENCIATURA EN ESPAÑOL Y LITERATURA',
        'PROFESIONAL EN AGRONEGOCIOS', 'LINGUISTICA',
        'INGENIERIA DE PRODUCTIVIDAD Y CALIDAD',
        'LICENCIATURA EN LENGUAS MODERNAS',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN EDUCACION FISICA,RECREACION Y DEPORTES',
        'INGENIERIA AMBIENTAL Y SANITARIA',
        'LICENCIATURA EN PEDAGOGIA  INFANTIL', 'ADMINISTRACION PUBLICA',
        'RELACIONES ECONOMICAS INTERNACIONALES',
        'ADMINISTRACION DE EMPRESAS COMERCIALES',
        'LICENCIATURA EN EDUCACIÓN BÁSICA CON ÉNFASIS EN EDUCACIÓN ARTÍSTICA',
        'LENGUAS MODERNAS', 'INGENIERIA EN TOPOGRAFIA',
        'CIENCIAS BIBLICAS',
        'LICENCIATURA EN ESPAÑOL Y LENGUAS EXTRANJERAS',
        'INGENIER¿A EN SOFTWARE', 'DISEÑO Y PRODUCCION DE MODA',
        'INGENIERIA DE MERCADOS',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN LENGUAS EXTRANJERAS',
        'ARTES PLASTICAS', 'ADMINISTRACION BANCARIA Y FINANCIERA',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN HUMANIDADES: LENGUA CASTELLANA E INGLES',
        'ADMINISTRACION DE SISTEMAS INFORMATICOS', 'INGENIERIA PESQUERA',
        'DISEÑO DE MODAS',
        'LICENCIATURA EN COMUNICACION E INFORMATICA EDUCATIVA',
        'LICENCIATURA EN EDUCACION FISICA', 'GEOLOGIA',
        'INGENIERÍA MECATRÓNICA', 'ADMINISTRACION TURISTICA Y HOTELERA',
        'LICENCIATURA EN EDUCACION CON ENFASIS EN EDUCACION ESPECIAL',
        'QUIMICA', 'PROFESIONAL EN ACTIVIDAD FISICA Y DEPORTE', 'HISTORIA',
        'MICROBIOLOGIA Y BIOANALISIS', 'ADMINISTRACIÓN TECNÓLOGICA',
        'ADMINISTRACION DE MERCADEO',
        'LICENCIATURA EN LENGUAS MODERNAS INGLES-FRANCES',
        'SALUD OCUPACIONAL', 'INGENIERÍA AMBIENTAL Y SANITARIA',
        'ECOLOGIA DE ZONAS COSTERAS', 'PROFESIONAL EN TRABAJO SOCIAL',
        'INGENIERIA AMBIENTAL Y DE SANEAMIENTO',
        'LICENCIATURA EN CIENCIAS NATURALES',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN HUMANIDADES Y LENGUA CASTELLANA',
        'CONSTRUCCION',
        'ADMINISTRACION DE EMPRESAS TURÍSTICAS Y HOTELERAS',
        'LICENCIATURA EN INGLÉS-ESPAÑOL', 'ADMINISTRACION INDUSTRIAL',
        'LICENCIATURA EN ARTES ESCENICAS CON ENFASIS EN TEATRO',
        'TEOLOGIA', 'COMERCIO Y NEGOCIOS INTERNACIONALES', 'PUBLICIDAD',
        'INGENIERIA EN AUTOMATIZACIÓN', 'OPTOMETRÍA', 'INGENIERIA FISICA',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN CIENCIAS SOCIALES',
        'LICENCIATURA EN EDUCACION  FISICA RECREACION  Y  DEPORTE',
        'CIENCIA POLITICA Y GOBIERNO',
        'LICENCIATURA EN PEDAGOGÍA SOCIAL PARA LA REHABILITACIÓN',
        'PROFESIONAL EN ENTRENAMIENTO DEPORTIVO',
        'CONSTRUCCION Y GESTION EN ARQUITECTURA', 'INGENIERÍA MECÁNICA',
        'INGENIERÍA EN DISEÑO INDUSTRIAL', 'NUTRICIÓN Y DIETÉTICA',
        'INGENIERIA FORESTAL', 'FINANZAS Y COMERCIO EXTERIOR',
        'PROFESIONAL  EN DISEÑO GRAFICO', 'ADMINISTRACION',
        'COMERCIO EXTERIOR', 'NEGOCIOS Y FINANZAS INTERNACIONALES',
        'LICENCIATURA EN LENGUA EXTRANJERA INGLES',
        'ADMINISTRACIÓN EN SALUD', 'INGENIERÍA CIVIL',
        'LICENCIATURA EN EDUCACIÓN FÍSICA Y DEPORTES',
        'LICENCIATURA EN EDUCACION BASICA ENFASIS EN EDUCACION FISICA, RECREACION Y DEPORTE',
        'ARTES PLÁSTICAS Y VISUALES', 'INGENIERIA GEOLOGICA',
        'INGENIERÍA AGRONÓMICA',
        'INGENIERIA EN SEGURIDAD INDUSTRIAL E HIGIENE OCUPACIONAL',
        'COMERCIO INTERNACIONAL Y FINANZAS',
        'INGENIERÍA GEOGRÁFICA Y AMBIENTAL',
        'FINANZAS Y RELACIONES INTERNACIONALES',
        'ADMINISTRACION COMERCIAL Y DE MERCADEO',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN HUMANIDADES -  LENGUA CASTELLANA',
        'LETRAS - FILOLOGIA HISPANICA',
        'LICENCIATURA EN MATEMATICAS Y ESTADISTICA', 'CINE',
        'INGENIERIA INFORMATICA', 'INGENIERIA DE MINAS Y METALURGIA',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN INGLES',
        'ADMINISTRACION POLICIAL', 'ADMINISTRACION DE SERVICIOS DE SALUD',
        'PROFESIONAL EN MARKETING Y NEGOCIOS INTERNACIONALES',
        'LICENCIATURA EN ARTES PLASTICAS', 'ADMINISTRACION DEPORTIVA',
        'COMUNICACION SOCIAL -  PERIODISMO',
        'ADMINISTRACION EN FINANZAS Y NEGOCIOS INTERNACIONALES',
        'INGENIERIA AGROECOLOGICA', 'INGENIERIA GEOGRAFICA Y AMBIENTAL',
        'INGENIERÍA ELECTROMECÁNICA',
        'LICENCIATURA EN EDUCACION FISICA,RECREACION Y DEPORTES',
        'ADMINISTRACIÓN COMERCIAL',
        'LICENCIATURA EN INFORMATICA Y MEDIOS AUDIOVISUALES',
        'LICENCIATURA EN EDUCACION FISICA RECREACION Y DEPORTE',
        'DERECHO Y CIENCIAS POLITICAS',
        'ADMINISTRACIÓN DE NEGOCIOS INTERNACIONALES',
        'INGENIERIA DE TRANSPORTE Y VIAS', 'DEPORTE Y ACTIVIDAD FISICA',
        'CULINARIA Y GASTRONOMÍA', 'INGENIERIA DE SISTEMAS E INFORMATICA',
        'LICENCIATURA  PEDAGOGIA INFANTIL',
        'PROFESIONAL EN MERCADEO Y PUBLICIDAD', 'BIOINGENIERIA',
        'LICENCIATURA EN IDIOMAS MODERNOS ESPAÑOL- INGLES',
        'COMUNICACION SOCIALY PERIODISMO', 'ARQUEOLOGIA',
        'ADMINISTRACION HUMANA', 'CRIMINALISTICA', 'DISEÑO',
        'GESTION EMPRESARIAL', 'DANZA',
        'LICENCIATURA EN LENGUA CASTELLANA Y LITERATURA',
        'LICENCIATURA EN ARTES ESCENICAS',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN EDUCACION FISICA,RECREACION Y DEPORTE',
        'LICENCIATURA EN ARTES VISUALES', 'ARCHIVISTICA',
        'CIENCIAS POLÍTICAS', 'DEPORTE',
        'ADMINISTRACION DE EMPRESAS  Y  GESTION AMBIENTAL', 'TEOLOGÍA',
        'LICENCIATURA EN PREESCOLAR',
        'INGENIERIA DE SISTEMAS Y TELECOMUNICACIONES',
        'CULTURA FISICA, DEPORTE Y RECREACION',
        'INGENIERÍA EN INFORMÁTICA', 'INGENIERÍA ELÉCTRICA',
        'HISTORIA Y ARCHIVISTICA', 'LICENCIATURA EN INFORMATICA',
        'GESTION Y DESARROLLO URBANOS',
        'LICENCIATURA EN CULTURA, FISICA, RECREACION Y DEPORTES',
        'DISEÑO GRÁFICO', 'CONSTRUCCIONES CIVILES', 'GASTRONOMIA',
        'MATEMATICAS', 'BIOLOGÍA', 'COMUNICACION GRAFICA PUBLICITARIA',
        'LICENCIATURA EN FISICA',
        'INGENIERIA EN HIGIENE Y SEGURIDAD INDUSTRIAL',
        'ADMINISTRACIÓN DE EMPRESAS TURÍSTICAS Y HOTELERAS',
        'COMUNICACIÓN Y ENTRETENIMIENTO DIGITAL', 'INGENIERIA EN SOFTWARE',
        'LICENCIATURA EN LENGUAS EXTRANJERAS: INGLES-FRANCES',
        'LICENCIATURA EN MATEMATICAS Y FISICA',
        'LICENCIATURA EN DISEÑO TECNOLOGICO CON ENFASIS EN SISTEMAS MECANICOS',
        'ADMINISTRACIÓN DE EMPRESAS TURÍSTICAS',
        'PROGRAMA PROFESIONAL UNIVERSITARIO EN LENGUAS EXTRANJERAS',
        'ADMINISTRACI¿N LOG¿STICA',
        'SISTEMAS DE INFORMACION Y DOCUMENTACION',
        'DISEÑO DE LA COMUNICACION GRAFICA', 'FILOSOFIA Y LETRAS',
        'LICENCIATURA EN LENGUAS EXTRANJERAS INGLES-FRANCES',
        'DISEÑO VISUAL DIGITAL', 'INGENIERIA DE MINAS',
        'CULTURA FISICA Y DEPORTE',
        'LICENCIATURA EN EDUCACION ARTISTICA CON ENFASIS EN DANZA Y TEATRO',
        'LICENCIATURA EN LENGUAS EXTRANJERAS CON ÉNFASIS EN INGLÉS',
        'INGENIERIA AERONAUTICA', 'INGENIERIA EN ENERGIA',
        'INGENIERIA AGRICOLA', 'ESPAÑOL Y FILOLOGIA CLASICA',
        'ARTES VISUALES',
        'ADMINISTRACION EN SALUD: ENFASIS EN GESTION DE SERVICIOS DE SALUD Y  ENFASIS EN GESTION SANITARIA Y AMBIENTAL',
        'LICENCIATURA EN EDUCACI¿N ART¿STICA',
        'LICENCIATURA EN EDUCACIÓN BÁSICA CON ÉNFASIS EN HUMANIDADES- LENGUA CASTELLANA',
        'FORMACION MUSICAL',
        'LICENCIATURA EN EDUCACIÓN BÁSICA CON ÉNFASIS EN HUMANIDADES, LENGUA CASTELLANA',
        'ADMINISTRACION DE SISTEMAS INFORMÁTICOS',
        'LICENCIATURA EN EDUCACIÓN BÁSICA, CON ÉNFASIS EN HUMANIDADES, LENGUA CASTELLANA',
        'DIRECCION Y PRODUCCION DE MEDIOS AUDIOVISUALES',
        'ADMINISTRACIÓN PÚBLICA',
        'PROFESIONAL EN NEGOCIOS INTERNACIONALES',
        'DISEÑO DIGITAL Y MULTIMEDIA',
        'GEOGRAFIA APLICADA A LA ORGANIZACION DEL ESPACIO Y PLANIFICACION REGIONAL',
        'INGENIERIA EN MECATRONICA',
        'INGENIERÍA EN DISEÑO DE ENTRETENIMIENTO DIGITAL', 'FISICA',
        'INGENIERIA EN TELEMATICA', 'LICENCIATURA EN MUSICA',
        'INGENIERIA FINANCIERA Y DE NEGOCIOS', 'MICROBIOLOGIA',
        'PROFESIONAL EN PSICOLOGÍA',
        'LICENCIATURA EN EDUCACIÓN BÁSICA CON ÉNFASIS EN CIENCIAS SOCIALES',
        'DISEÑO DE COMUNICACION VISUAL', 'ADMINISTRACION AGROPECUARIA',
        'ADMINISTRACIÓN LOGISTICA', 'LICENCIATURA EN LENGUA CASTELLANA',
        'INGENIERÍA EN ENERGÍA', 'INGENIERÌA INFORMÀTICA',
        'INGENIERIA DE LA CALIDAD', 'INGENIERÍA AERONÁUTICA',
        'COMERCIO INTERNACIONAL',
        'LICENCIATURA EN EDUCACION FISICA, RECREACION Y DEPORTES',
        'ADMINISTRACIÓN DE SERVICIOS DE SALUD',
        'LICENCIATURA EN HUMANIDADES Y LENGUA CASTELLANA',
        'ADMINISTRACION AERONAUTICA', 'TURISMO',
        'CIENCIAS MILITARES AERONÁUTICAS', 'CIENCIAS DEL DEPORTE',
        'LICENCIATURA EN PEDAGOG¿A INFANTIL',
        'MERCADEO NACIONAL E INTERNACIONAL', 'QUIMICA INDUSTRIAL',
        'RELACIONES INTERNACIONALES Y ESTUDIOS POLITICOS',
        'LICENCIATURA EN EDUCACION ESPECIAL',
        'LICENCIATURA EN EDUCACION POPULAR',
        'PROFESIONAL EN DISEÑO INDUSTRIAL', 'COMUNICACION Y PERIODISMO',
        'BIBLIOTECOLOGIA', 'ADMINISTRACIÓN DE COMERCIO EXTERIOR',
        'FILOSOFÍA', '3°  CICLO PROFESIONAL NEGOCIOS INTERNACIONALES',
        'LICENCIATURA EN CIENCIAS RELIGIOSAS', 'INGENIERIA DE SOFTWARE',
        'LICENCIATURA EN HUMANIDADES, LENGUA CASTELLANA E INGLES',
        'ADMINISTRACION DE EMPRESAS AGROPECUARIAS',
        'PRODUCCION AGROINDUSTRIAL', 'DISEÑO DE MEDIOS  INTERACTIVOS',
        'LICENCIATURA EN MATEMÁTICAS',
        'CIENCIA DE LA INFORMACION Y BIBLIOTECOLOGIA',
        'LICENCIATURA EN PEDAGOGIA DE LA PRIMERA INFANCIA',
        'LICENCIATURA EN EDUCACION AMBIENTAL',
        'INGENIERIA EN SEGURIDAD Y SALUD PARA EL TRABAJO',
        'LICENCIATURA EN LENGUAS  EXTRANJERAS',
        'LICENCIATURA EN EDUCACION RELIGIOSA', 'CONTADURÍA PÚBLICA.',
        'INGENIERÍA BIOQUÍMICA',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN INFORMATICA',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN HUMANIDADES, ESPAÑOL Y LENGUAS EXTRANJERAS',
        'LICENCIATURA EN TECNOLOGIA E INFORMATICA', 'ARTES ESCÉNICAS',
        'ESTUDIOS MUSICALES', 'ADMINISTRACIÓN TURÍSTICA Y HOTELERA',
        'INGENIERIA DE PROCESOS', 'INGENIERÍA DE PRODUCCIÓN',
        'MATEMÁTICA APLICADA',
        'LICENCIATURA EN BIOLOGIA CON ENFASIS EN EDUCACION AMBIENTAL',
        'ADMINISTRACIÓN LOGÍSTICA', 'DISE¿¿O DE COMUNICACI¿¿N GR¿¿FICA',
        'ADMINISTRACION DE EMPRESAS TURISTICAS Y HOTELERAS',
        'LICENCIATURA EN FILOSOFIA Y LENGUA CASTELLANA', 'MUSICA',
        'ADMINISTRACION DE INSTITUCIONES DE SERVICIO',
        'PUBLICIDAD Y MERCADEO', 'ARTES DE LA ESCENA', 'DISEÑO INTERIOR',
        'CONSTRUCCION EN ARQUITECTURA E INGENIERIA',
        'CINE Y COMUNICACIÓN DIGITAL', 'LICENCIATURA  EN MATEMATICAS',
        'LICENCIATURA EN EDUCACION FISICA,RECREACION Y DEPORTE',
        'HISTORIA Y PATRIMONIO', 'LITERATURA',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN EDUCACION ARTISTICA',
        'LICENCIATURA EN EDUCACION BASICA CON ENFASIS EN HUMANIDADES,LENGUA CASTELLANA E INGLES',
        'GEOGRAFIA', 'BIOLOGIA APLICADA',
        'GERENCIA DE LA SEGURIDAD Y ANALISIS SOCIO POLITICO',
        'LICENCIATURA EN EDUCACIÓN ESPECIAL',
        'LICENCIATURA EN INGLÉS COMO LENGUA EXTRANJERA',
        'LICENCIATURA EN EDUCACION ARTISTICA Y ARTES ESCENICAS',
        'INGENIERIA METALURGICA', 'LICENCIATURA EN FILOSOFIA',
        'CINE Y TELEVISION', 'INGENIERIA SANITARIA',
        'LICENCIATURA EN INGLES - ESPAÑOL', 'INGENIERÍA FORESTAL',
        'INGENIERIA EN CONTROL', 'COMUNICACION AUDIOVISUAL Y MULTIMEDIAL',
        'FINANZAS', 'ARTES DE LA GRABACION Y PRODUCCION MUSICAL',
        'LICENCIATURA EN LINGUISTICA Y LITERATURA',
        'LICENCIATURA EN EDUCACION ARTISTICA Y CULTURAL',
        'INGENIERÍA DE LAS ARTES DIGITALES',
        'PROFESIONAL UNIVERSITARIO EN FOTOGRAFÍA PARA MEDIOS',
        'COMUNICACION PUBLICITARIA',
        'CIENCIAS DE LA COMPUTACIÓN E INTELIGENCIA ARTIFICIAL',
        'COMUNICACION SOCIAL     Y     PERIODISMO',

In [17]:
# List of diferent values in the column
# Uniques, shape, does it have NaN values?
data_train_copy['ESTU_PRGM_DEPARTAMENTO'].unique(), data_train_copy['ESTU_PRGM_DEPARTAMENTO'].unique().shape, data_train_copy['ESTU_PRGM_DEPARTAMENTO'].isnull().any()

(array(['BOGOTÁ', 'ATLANTICO', 'SANTANDER', 'ANTIOQUIA', 'HUILA', 'SUCRE',
        'CAQUETA', 'CUNDINAMARCA', 'BOLIVAR', 'TOLIMA', 'VALLE', 'QUINDIO',
        'RISARALDA', 'CORDOBA', 'META', 'LA GUAJIRA', 'BOYACA', 'NARIÑO',
        'CAUCA', 'NORTE SANTANDER', 'CESAR', 'PUTUMAYO', 'CALDAS',
        'MAGDALENA', 'CHOCO', 'CASANARE', 'ARAUCA', 'GUAVIARE', 'AMAZONAS',
        'VAUPES', 'SAN ANDRES'], dtype=object),
 (31,),
 False)

In [18]:
# List of diferent values in the column
# Uniques, shape, does it have NaN values?
data_train_copy['ESTU_VALORMATRICULAUNIVERSIDAD'].unique(), data_train_copy['ESTU_VALORMATRICULAUNIVERSIDAD'].unique().shape, data_train_copy['ESTU_VALORMATRICULAUNIVERSIDAD'].isnull().any()

(array(['Entre 5.5 millones y menos de 7 millones',
        'Entre 2.5 millones y menos de 4 millones',
        'Entre 4 millones y menos de 5.5 millones', 'Más de 7 millones',
        'Entre 1 millón y menos de 2.5 millones',
        'Entre 500 mil y menos de 1 millón', 'Menos de 500 mil',
        'No pagó matrícula', nan], dtype=object),
 (9,),
 True)

In [19]:
# List of diferent values in the column
# Uniques, shape, does it have NaN values?
data_train_copy['ESTU_HORASSEMANATRABAJA'].unique(), data_train_copy['ESTU_HORASSEMANATRABAJA'].unique().shape, data_train_copy['ESTU_HORASSEMANATRABAJA'].isnull().any()

(array(['Menos de 10 horas', '0', 'Más de 30 horas', 'Entre 21 y 30 horas',
        'Entre 11 y 20 horas', nan], dtype=object),
 (6,),
 True)

In [20]:
# List of diferent values in the column
data_train_copy['FAMI_ESTRATOVIVIENDA'].unique(), data_train_copy['FAMI_ESTRATOVIVIENDA'].unique().shape, data_train_copy['FAMI_ESTRATOVIVIENDA'].isnull().any()

(array(['Estrato 3', 'Estrato 4', 'Estrato 5', 'Estrato 2', 'Estrato 1',
        nan, 'Estrato 6', 'Sin Estrato'], dtype=object),
 (8,),
 True)

In [21]:
# List of diferent values in the column
# Uniques, shape, does it have NaN values?
data_train_copy['FAMI_TIENEINTERNET'].unique(), data_train_copy['FAMI_TIENEINTERNET'].unique().shape, data_train_copy['FAMI_TIENEINTERNET'].isnull().any()

(array(['Si', 'No', nan], dtype=object), (3,), True)

In [22]:
# List of diferent values in the column
# Uniques, shape, does it have NaN values?
data_train_copy['FAMI_EDUCACIONPADRE'].unique(), data_train_copy['FAMI_EDUCACIONPADRE'].unique().shape, data_train_copy['FAMI_EDUCACIONPADRE'].isnull().any()

(array(['Técnica o tecnológica incompleta',
        'Técnica o tecnológica completa',
        'Secundaria (Bachillerato) completa', 'No sabe',
        'Primaria completa', 'Educación profesional completa',
        'Educación profesional incompleta', 'Primaria incompleta',
        'Postgrado', nan, 'Secundaria (Bachillerato) incompleta',
        'Ninguno', 'No Aplica'], dtype=object),
 (13,),
 True)

In [23]:
# List of diferent values in the column
# Uniques, shape, does it have NaN values?
data_train_copy['FAMI_EDUCACIONMADRE'].unique(), data_train_copy['FAMI_EDUCACIONMADRE'].unique().shape, data_train_copy['FAMI_EDUCACIONMADRE'].isnull().any()

(array(['Postgrado', 'Técnica o tecnológica incompleta',
        'Secundaria (Bachillerato) completa', 'Primaria completa',
        'Técnica o tecnológica completa',
        'Secundaria (Bachillerato) incompleta',
        'Educación profesional incompleta',
        'Educación profesional completa', 'Primaria incompleta', nan,
        'Ninguno', 'No Aplica', 'No sabe'], dtype=object),
 (13,),
 True)

In [24]:
# List of diferent values in the column
# Uniques, shape, does it have NaN values?
data_train_copy['ESTU_PAGOMATRICULAPROPIO'].unique(), data_train_copy['ESTU_PAGOMATRICULAPROPIO'].unique().shape, data_train_copy['ESTU_PAGOMATRICULAPROPIO'].isnull().any()

(array(['No', 'Si', nan], dtype=object), (3,), True)

In [25]:
# List of diferent values in the column
# Uniques, shape, does it have NaN values?
data_train_copy['RENDIMIENTO_GLOBAL'].unique(), data_train_copy['RENDIMIENTO_GLOBAL'].unique().shape, data_train_copy['RENDIMIENTO_GLOBAL'].isnull().any()

(array(['medio-alto', 'bajo', 'alto', 'medio-bajo'], dtype=object),
 (4,),
 False)

# Next, I start to clean up columns one by one and fill NaN values in a custom way from parents information beacause I think the parental backgroud is fuldamental in the destiny of any person.

In [26]:
# Replace 'Ninguno', 'No Aplica', and NaN values with 'No sabe'
data_train_copy['FAMI_EDUCACIONPADRE'] = data_train_copy['FAMI_EDUCACIONPADRE'].replace({
    'Ninguno': 'No sabe',
    'No Aplica': 'No sabe',
    np.nan: 'No sabe'
})

In [27]:
# Replace 'Ninguno', 'No Aplica', and NaN values with 'No sabe'
data_train_copy['FAMI_EDUCACIONMADRE'] = data_train_copy['FAMI_EDUCACIONMADRE'].replace({
    'Ninguno': 'No sabe',
    'No Aplica': 'No sabe',
    np.nan: 'No sabe'
})

In [28]:
# Replace NaN values with 'Sin Estrato'
data_train_copy['FAMI_ESTRATOVIVIENDA'] = data_train_copy['FAMI_ESTRATOVIVIENDA'].replace({
    np.nan: 'Sin Estrato'
})

In [29]:
# Replacement mappings based on education level
group1 = {'Postgrado', 'Educación profesional completa', 'Educación profesional incompleta'}
group2 = {'Técnica o tecnológica completa', 'Técnica o tecnológica incompleta', 'Secundaria (Bachillerato) completa', 'Secundaria (Bachillerato) incompleta'}
group3 = {'Primaria completa', 'Primaria incompleta'}

# List of all possible Estratos for random selection
all_estratos = ['Estrato 3', 'Estrato 4', 'Estrato 5', 'Estrato 2', 'Estrato 1', 'Estrato 6']
estrato_primaria = ['Estrato 1', 'Estrato 2']

# Custom function to perform replacements
def replace_sin_estrato(row):
    if row['FAMI_ESTRATOVIVIENDA'] != 'Sin Estrato':
        return row['FAMI_ESTRATOVIVIENDA']

    padre_edu = row['FAMI_EDUCACIONPADRE']
    madre_edu = row['FAMI_EDUCACIONMADRE']

    # Replace with 'Estrato 4' if any parent has a value in group1
    if padre_edu in group1 or madre_edu in group1:
        return 'Estrato 4'

    # Replace with 'Estrato 3' if any parent has a value in group2
    if padre_edu in group2 or madre_edu in group2:
        return 'Estrato 3'

    # Replace with 'Estrato 1' or 'Estrato 2' randomly if any parent has a value in group3
    if padre_edu in group3 or madre_edu in group3:
        return np.random.choice(estrato_primaria)

    # If both parents have 'No sabe', choose randomly from all estratos
    if padre_edu == 'No sabe' and madre_edu == 'No sabe':
        return np.random.choice(all_estratos)

    # Return the original value if none of the above rules match
    return row['FAMI_ESTRATOVIVIENDA']

# Apply the custom function to each row
data_train_copy['FAMI_ESTRATOVIVIENDA'] = data_train_copy.apply(replace_sin_estrato, axis=1)

# Display the DataFrame to verify the changes
data_train_copy['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
Estrato 2    237846
Estrato 3    220594
Estrato 1    117071
Estrato 4     73373
Estrato 5     27230
Estrato 6     16386
Name: count, dtype: int64

In [30]:
# Original DataFrame column
data_train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
Estrato 2      232671
Estrato 3      210685
Estrato 1      111991
Estrato 4       65514
Estrato 5       23608
Estrato 6       12605
Sin Estrato      3289
Name: count, dtype: int64

In [31]:
# Replacement mappings based on average enrollment price
# Define the value mapping for `ESTU_VALORMATRICULAUNIVERSIDAD`
value_mapping = {
    'Más de 7 millones': 7.75,
    'Entre 5.5 millones y menos de 7 millones': 6.25,
    'Entre 4 millones y menos de 5.5 millones': 4.75,
    'Entre 2.5 millones y menos de 4 millones': 3.25,
    'Entre 1 millón y menos de 2.5 millones': 1.75,
    'Entre 500 mil y menos de 1 millón': 0.75,
    'Menos de 500 mil': 0.25,
    'No pagó matrícula': 0.00
}

# Replace the values in the `ESTU_VALORMATRICULAUNIVERSIDAD` column using the defined mapping
data_train_copy['ESTU_VALORMATRICULAUNIVERSIDAD'] = data_train_copy['ESTU_VALORMATRICULAUNIVERSIDAD'].replace(value_mapping)

# Create a custom function to handle `NaN` values based on `FAMI_ESTRATOVIVIENDA`
def replace_nan(row):
    if pd.notnull(row['ESTU_VALORMATRICULAUNIVERSIDAD']):
        return row['ESTU_VALORMATRICULAUNIVERSIDAD']

    estrato = row['FAMI_ESTRATOVIVIENDA']

    # Replace NaN based on `FAMI_ESTRATOVIVIENDA` column
    if estrato == 'Estrato 6':
        return 7.75
    elif estrato == 'Estrato 5':
        return 6.25
    elif estrato == 'Estrato 4':
        return 4.75
    elif estrato == 'Estrato 3':
        return np.random.choice([3.25, 1.75])
    elif estrato == 'Estrato 2':
        return np.random.choice([0.00, 0.25, 0.75])
    elif estrato == 'Estrato 1':
        return 0.00
    else:
        return row['ESTU_VALORMATRICULAUNIVERSIDAD']

# Apply the custom function to handle NaN values in the DataFrame
data_train_copy['ESTU_VALORMATRICULAUNIVERSIDAD'] = data_train_copy.apply(replace_nan, axis=1)

# Display the updated column values to verify changes
data_train_copy['ESTU_VALORMATRICULAUNIVERSIDAD'].value_counts()

<ipython-input-31-dc3cf3c9ac9c>:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_train_copy['ESTU_VALORMATRICULAUNIVERSIDAD'] = data_train_copy['ESTU_VALORMATRICULAUNIVERSIDAD'].replace(value_mapping)

ESTU_VALORMATRICULAUNIVERSIDAD
1.75    204969
3.25    128330
0.25     80735
0.75     79175
4.75     70863
7.75     68607
6.25     39115
0.00     20706
Name: count, dtype: int64

In [32]:
# Original DataFrame column
data_train['ESTU_VALORMATRICULAUNIVERSIDAD'].value_counts()

ESTU_VALORMATRICULAUNIVERSIDAD
Entre 1 millón y menos de 2.5 millones      204048
Entre 2.5 millones y menos de 4 millones    127430
Menos de 500 mil                             80263
Entre 500 mil y menos de 1 millón            78704
Entre 4 millones y menos de 5.5 millones     69736
Más de 7 millones                            68014
Entre 5.5 millones y menos de 7 millones     38490
No pagó matrícula                            19528
Name: count, dtype: int64

In [33]:
# Replacement mappings based on average working hours
# Define the value mapping
value_mapping = {
    'Más de 30 horas': 35,
    'Entre 21 y 30 horas': 25,
    'Entre 11 y 20 horas': 15,
    'Menos de 10 horas': 5,
    '0': 0
}

# Replace the values in the `ESTU_HORASSEMANATRABAJA` column using the defined mapping
data_train_copy['ESTU_HORASSEMANATRABAJA'] = data_train_copy['ESTU_HORASSEMANATRABAJA'].replace(value_mapping)

# Create a custom function to handle NaN values
def replace_nan_with_random(row):
    if pd.notnull(row['ESTU_HORASSEMANATRABAJA']):
        return row['ESTU_HORASSEMANATRABAJA']
    else:
        return np.random.choice([35, 25, 15, 5, 0])

# Apply the custom function to replace NaN values in the DataFrame
data_train_copy['ESTU_HORASSEMANATRABAJA'] = data_train_copy.apply(replace_nan_with_random, axis=1)

# Display the updated column values to verify changes
data_train_copy['ESTU_HORASSEMANATRABAJA'].value_counts()

<ipython-input-33-99b3eb9a3b31>:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_train_copy['ESTU_HORASSEMANATRABAJA'] = data_train_copy['ESTU_HORASSEMANATRABAJA'].replace(value_mapping)

ESTU_HORASSEMANATRABAJA
35.0    255621
0.0     122690
15.0    122017
25.0     98765
5.0      93407
Name: count, dtype: int64

In [34]:
data_train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      116550
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
Name: count, dtype: int64

In [35]:
# Replacement mappings based on Estrato
# Replace 'Si' and 'No' with True and False
data_train_copy['FAMI_TIENEINTERNET'] = data_train_copy['FAMI_TIENEINTERNET'].replace({'Si': True, 'No': False})

# Create a custom function to handle NaN values
def replace_nan_with_boolean(row):
    if pd.notnull(row['FAMI_TIENEINTERNET']):
        return row['FAMI_TIENEINTERNET']
    else:
        estrato = row['FAMI_ESTRATOVIVIENDA']
        if estrato in {'Estrato 6', 'Estrato 4', 'Estrato 5'}:
            return True
        elif estrato in {'Estrato 1', 'Estrato 2', 'Estrato 3'}:
            return False
        else:
            return row['FAMI_TIENEINTERNET']  # Return the same if estrato does not match

# Apply the custom function to replace NaN values in the DataFrame
data_train_copy['FAMI_TIENEINTERNET'] = data_train_copy.apply(replace_nan_with_boolean, axis=1)

# Display the updated column values to verify changes
data_train_copy['FAMI_TIENEINTERNET'].value_counts()

FAMI_TIENEINTERNET
True     604736
False     87764
Name: count, dtype: int64

In [36]:
# Original DataFrame column
data_train['FAMI_TIENEINTERNET'].value_counts()

FAMI_TIENEINTERNET
Si    592514
No     73357
Name: count, dtype: int64

In [37]:
# Replace 'Si' and 'No' with Boolean True and False
data_train_copy['ESTU_PAGOMATRICULAPROPIO'] = data_train_copy['ESTU_PAGOMATRICULAPROPIO'].replace({'Si': True, 'No': False})

# Replace NaN values with a random choice between True and False
data_train_copy['ESTU_PAGOMATRICULAPROPIO'] = data_train_copy['ESTU_PAGOMATRICULAPROPIO'].apply(lambda x: np.random.choice([True, False]) if pd.isna(x) else x)

# Display the updated column values to verify changes
data_train_copy['ESTU_PAGOMATRICULAPROPIO'].value_counts()

ESTU_PAGOMATRICULAPROPIO
False    385521
True     306979
Name: count, dtype: int64

In [38]:
# Original DataFrame column
data_train['ESTU_PAGOMATRICULAPROPIO'].value_counts()

ESTU_PAGOMATRICULAPROPIO
No    382201
Si    303801
Name: count, dtype: int64

In [39]:
# Replacement mappings Estrato categories for int values
data_train_copy['FAMI_ESTRATOVIVIENDA'] = data_train_copy['FAMI_ESTRATOVIVIENDA'].replace({
    'Estrato 1': 1,
    'Estrato 2': 2,
    'Estrato 3': 3,
    'Estrato 4': 4,
    'Estrato 5': 5,
    'Estrato 6': 6
})

# Display the updated column values to verify changes
data_train_copy['FAMI_ESTRATOVIVIENDA'].value_counts()

<ipython-input-39-6b53a0655abf>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_train_copy['FAMI_ESTRATOVIVIENDA'] = data_train_copy['FAMI_ESTRATOVIVIENDA'].replace({

FAMI_ESTRATOVIVIENDA
2    237846
3    220594
1    117071
4     73373
5     27230
6     16386
Name: count, dtype: int64

In [40]:
# Display the updated column values to verify changes
data_train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
Estrato 2      232671
Estrato 3      210685
Estrato 1      111991
Estrato 4       65514
Estrato 5       23608
Estrato 6       12605
Sin Estrato      3289
Name: count, dtype: int64

In [41]:
# Check that now no column has NaN values
for col in data_train_copy.columns:
    print(col, data_train_copy[col].isnull().any())

PERIODO False
ESTU_PRGM_ACADEMICO False
ESTU_PRGM_DEPARTAMENTO False
ESTU_VALORMATRICULAUNIVERSIDAD False
ESTU_HORASSEMANATRABAJA False
FAMI_ESTRATOVIVIENDA False
FAMI_TIENEINTERNET False
FAMI_EDUCACIONPADRE False
FAMI_EDUCACIONMADRE False
ESTU_PAGOMATRICULAPROPIO False
RENDIMIENTO_GLOBAL False

In [42]:
data_train_copy.head(5)

,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
ID,,,,,,,,,,,
904256,20212,ENFERMERIA,BOGOTÁ,6.25,5.0,3,True,Técnica o tecnológica incompleta,Postgrado,False,medio-alto
645256,20212,DERECHO,ATLANTICO,3.25,0.0,3,False,Técnica o tecnológica completa,Técnica o tecnológica incompleta,False,bajo
308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,3.25,35.0,3,True,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,False,bajo
470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,4.75,0.0,4,True,No sabe,Secundaria (Bachillerato) completa,False,alto
989032,20212,PSICOLOGIA,ANTIOQUIA,3.25,25.0,3,True,Primaria completa,Primaria completa,False,medio-bajo